
img{
  align-self: center;
  justify-self: center;
}


.main{
  display:grid;
  justify-content: center;
  align-content: center;
  width:50vw;
  height: 100vh;

}

 .main>* {
  grid-column:1 ;
  grid-row:1;
} 

/* main animation */
.moon{
  transform:translate(15rem);
  animation:spinAround 8s linear infinite;
}

.main:hover{
  animation:none;
}

@keyframes spinAround {
  from{transform:rotate(0deg) translate(15rem)}
  to{transform:rotate(360deg) translate(15rem)}
  
}

a{
  display:none;
  text-decoration: none;
  color:black;
}

.moon:hover > a{
  display:block;
}

.main:hover > div {
  animation-play-state: paused;
}

/* center image rotation*/
.rotate {
  /* width: 100px; */
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}